*{
    margin: 0px;
    border: 0px;
    
}
body{
    background-color: black;
}
.header{
 
    background-color: #23234d;
    height: 40px;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sectionA, .sectionB{
    height: 550px;
    width: 100%;
}
.sectionA h1{
    color: white;
    font-size: 60px;
    font-family:'Redressed',cursive;
    padding-top: 1.8em;
}
.sectionA span{
    color: red;;
}
.sectionA p{
    color: white;
    font-size: 25px;
    padding-top:1.8em;
    font-family:'Redressed',cursive;
}

.sectionA1{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sectionA1 img{
    padding: 20px;
    height: 60px;
    width: 60px;
}
#english{
    border-radius: 20px;
    background-color: red;
    height: 30px;
    width: 100px;
   
    margin: 20px;
}
#english a{
    text-decoration: none;
    color: white;
}
#hindi{
    border-radius: 20px;
    background-color: white;
    height: 30px;
    width: 100px;
    margin: 20px;
}
#hindi a{
    text-decoration: none;
    color:red;
}
.sectionB img{
    
    height: 100%;
    width: 100%;
}


.center{
    text-align: center;
}


@media  (max-width: 720px) {
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sectionB{
        margin-top: 20px;
    }
  }